*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s ;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    text-align: center;
    color: #FFFFFF;
}
html {
    height: 100%;
}
main {
    flex-grow: 1;
}

.article {
    width: 384px;
    height: 611px;
    margin-top: 174px;
    margin-left: 528px;
    margin-right: 528px;
    margin-bottom: 174px;
    padding: 40px;
    border-radius: 12px;
    gap: 24px;
    background-color: #1F1F1F;

}

.article-img {
    object-fit: cover;
    border-radius: 999px;
    margin-bottom: 24px;
}

.article-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 4px;
    
}


.article-tarif {
    font-weight: 700;
    font-size: 14;
    line-height: 150%;
    color: #C4F82A;
    margin-bottom: 24px;
}


.article-xaqida {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 24px;

}


.article-ilova {
    width: 304px;
}
.article-ilova-content {
    background-color: #333333;
    width: 304px;
    height: 45px;
    border-radius: 8px;
    padding: 12px;
    gap: 8px;
    margin-bottom: 16px;
}
.article-ilova-content:hover {
    width: 304px;
    height: 45px;
    background-color: #C4F82A;
    color: #333333;
    border-radius:8px;
    padding: 12px;
    gap: 8px;
    
}
.article-ilova-content-link {
    width: 49px;
    height: 21px;
    color: white;
    text-decoration: none;
}
.article-ilova-content-link:hover {
    color: #333333;
    
}
